<div class="container" id="top">
  <div class="profile">
    <%= image_tag "hello_koala.jpg" %>
  </div>
  <div class="title">
    <h1>brian han</h1>
  </div>
  <div class="skills">
    <div class="skills-title">
      <h1>skills</h1>
    </div>
    <div class="skills-list">
      <ul>
        <li>html5</li>
        <li>css3</li>
        <li>sass</li>
        <li>javascript</li>
        <li>jquery</li>
        <li>ajax</li>
        <li>ruby on rails</li>
      </ul>
    </div>
  </div>
  <div class="about">
    <div class="about-title">
      <h1>about</h1>
    </div>
    <div class="about-text">
      <p>i am a web developer</p>
      <p>i make websites &amp; webapps</p>
      <p>i care about creating &amp; delivering</p>
      <p>wonderful experiences on the web</p>
      <p>the internet is my happy place</p>
    </div>
  </div>
  <div class="links">
    <div class="links-title">
      <h1>links</h1>
    </div>
    <div class="links-list">
      <ul>
        <li>link</li>
        <li>link</li>
        <li>link</li>
      </ul>
    </div>
  </div>
  <div class="contact">
    <div class="contact-title">
      <h1>contact</h1>
    </div>
    <div class="contact-list">
      <p>email</p>
      <p>number</p>
      <p>location</p>
      <p>address</p>
    </div>
  </div>
</div>
