<div class="container" id="top">
  <div class="title">
    <h1>brian han</h1>
  </div>
  <div class="about">
    <p>i am a web developer</p>
    <p>i care about creating wonderful experiences on the web</p>
    <p>i work with a variety of technologies:</p>
    <p class="skills">html5, css3, sass, javascript &amp; ruby on rails</p>
  </div>
</div>

