<div class="container" id="top">
  <div class="title">
    <h1>brian han</h1>
    <a class="anchor" href="https://twitter.com/brianhan87" target="_blank">
      twitter</a>
    <a class="anchor" href="https://github.com/brianhan87" target="_blank">
      github</a>
    <a class="anchor" href="http://www.linkedin.com/pub/brian-han/2b/ba4/105" target="_blank">
      linkedin</a>
    <a class="anchor" href="https://dl.dropboxusercontent.com/u/3134062/brianhan_resume_dev.pdf" target="_blank">CV</a>
  </div>

  <div id="about">
    <div class="about-container">
      <p>I'm a web developer in Toronto. Building web experiences is what I do.</p>
      <p>I love solving problems and learning new things.</p>
      <p>These days I'm learning more about JS-frameworks like <a href="http://emberjs.com/">Ember.js</a> and <a href="https://www.meteor.com/">Meteor.js</a></p>
      
    </div>
  </div>
  
  <div class="nav">
    <a href="https://twitter.com/brianhan87" target="_blank">
      twitter</a>
    <a href="https://github.com/brianhan87" target="_blank">
      github</a>
    <a href="http://www.linkedin.com/pub/brian-han/2b/ba4/105" target="_blank">
      linkedin
    </a>
  </div>
  
  <div id="skills">
    <div class="skills-list">
      <p>html5</p>
      <p>css3</p>
      <p>sass</p>
      <p>javascript</p>
      <p>jquery</p>
      <p>ruby</p>
      <p>rails</p>
      <p>git &amp; github</p>
    </div>
    <div class="skills-chart">
  
    </div>
  </div>
  <div class="contact">
    <a href="mailto:brian.tj.han@gmail.com" target="_blank">brian.tj.han@gmail.com</a>
  </div>
</div>
