<div class="container" id="top">
  <div class="title">
    <h1>brian han</h1>
    <a class="anchor" href="https://twitter.com/brianhan87" target="_blank">
      twitter</a>
    <a class="anchor" href="https://github.com/brianhan87" target="_blank">
      github</a>
    <a class="anchor" href="http://www.linkedin.com/pub/brian-han/2b/ba4/105" target="_blank">
      linkedin</a>
  </div>

  <div id="about">
    <div class="about-container">
      <p>I'm a web developer in Toronto.</p>
      <p></p>
    </div>
  </div>
  
  <div class="nav">
    <a href="https://twitter.com/brianhan87" target="_blank">
      twitter</a>
    <a href="https://github.com/brianhan87" target="_blank">
      github</a>
    <a href="http://www.linkedin.com/pub/brian-han/2b/ba4/105" target="_blank">
      linkedin
    </a>
  </div>
  
  <div id="skills">
    <div class="skills-list">
      <p>html5</p>
      <p>css3</p>
      <p>sass</p>
      <p>javascript</p>
      <p>jquery</p>
      <p>ruby</p>
      <p>rails</p>
    </div>
    <div class="skills-chart">
  
    </div>
  </div>
  <div class="contact">
    <a href="mailto:brian.tj.han@gmail.com" target="_blank">brian.tj.han@gmail.com</a>
  </div>

<!-- 
  <div class="skills">
    <div class="skills-title">
      <h1>skills</h1>
    </div>
    <div class="skills-list">
      <p>html5</p>
      <p>css3</p>
      <p>sass</p>
      <p>javascript</p>
      <p>jquery</p>
      <p>ruby on rails</p>
    </div>
  </div>
  <div class="about">
    <div class="about-title">
      <h1>about</h1>
    </div>
    <div class="about-text">
      <p>im a web developer in toronto</p>
      <p></p>
    </div>
  </div>
  <div class="links">
    <div class="links-title">
      <h1>links</h1>
    </div>
    <div class="links-list">

      <p>link</p>
      <p>link</p>
      <p>link</p>
      <p>link</p>
      <p>link</p>
      <p>link</p>

    </div>
  </div>
  <div class="contact">
    <div class="contact-title">
      <h1>contact</h1>
    </div>
    <div class="contact-list">
      <p>email</p>
      <p>number</p>
      <p>location</p>
      <p>address</p>
    </div>
  </div> -->
</div>
