<div class="container" id="top">
  <div class="profile">
    <%= image_tag "hello_koala.jpg" %>
  </div>
  <div class="title">
    <h1>brian han</h1>
  </div>
  <div class="skills">
    <div class="skills-title">
      <a href="#"><h1>skills</h1></a>
      
    </div>
    <ul>
      <a href="https://github.com/brianhan87" target="_blank">
        <li>github <%= image_tag 'github.png' %></li>
      </a>
      <li>html5</li>
      <li>css3</li>
      <li>sass</li>
      <li>javascript</li>
      <li>jquery</li>
      <li>ajax</li>
      <li>ruby on rails</li>
    </ul>
  </div>
  <div class="about">
    
    <p>i am a web developer</p>
    <p>i make websites &amp; webapps</p>
    <p>i care about creating &amp; delivering</p>
    <p>wonderful experiences on the web</p>
    <p>the internet is my happy place</p>
  </div>
</div>

