<div class="container" id="top">
  <div class="title">
    <h1>brian han</h1>
  </div>
<!--   <div class="text-area">
    <div class="text1"><p>web developer</p></div>
    <div class="text2"><p>designer</p> </div>
    <div class="text3"><p>ux/ui</p></div>  
  </div> -->
  
    

</div>
